td.titrePage {
	background-color:#006699;
	border-style:solid;
	border-color:black;
	color:white
}

BODY {
	BACKGROUND: #B7BABE;
	scrollbar-base-color: #6c8fba; 
	scrollbar-arrow-color: #FFF788;
	scrollbar-highlight-color: #0000000; 
	scrollbar-track-color: #6699CC;
	scrollbar-3dlight-color: #000000; 
	scrollbar-shadow-color: #000000;
	scrollbar-darkshadow-color: #6699CC;
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 11pt;
}

H1 {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 18pt;
	color: white
}

.titreProcessus {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 24pt;
	color: white
}

.entete {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 18pt;
	color: white
}
.imgdiagramme {
	margin-top:50px;
	margin-bottom:50px;
  	border-color:red;
}

.titreliste {
	PADDING-RIGHT: 5px; MARGIN-TOP: 25; PADDING-LEFT: 5px; FONT-WEIGHT: 700; FONT-SIZE: 10pt; MARGIN-BOTTOM: 20; PADDING-BOTTOM: 5px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #69c 2px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #69c 2px solid ;
	FONT-STYLE: normal; BACKGROUND-COLOR: #B7BABE; MARGIN-RIGHT: 25%;
}

.elementListe {
	PADDING-LEFT: 20px; MARGIN-LEFT: 130px; BORDER-LEFT: #69c 2px solid
}

HR {
	background-color: #006699;;
	width:84%;
	height: 5px;
	margin-bottom:20px;
	margin-top:20px;
}
	

A          {text-decoration:underline; color: #000000}
A:hover    {text-decoration:none; color: #006699}

.navigation_barre {
	background-color:#B0B6BE;BORDER-BOTTOM: #69c 1px solid ;MARGIN-BOTTOM: 20;PADDING-BOTTOM: 5px;
}